#orders{
    color: #20b883;
    border-bottom: 3px solid #20b883;
}
.contentWrap{
    margin-top: 100px;
}
.mainWrap{
    width: 100%;
    box-sizing: border-box;
    padding: 0 8% 4%;
}
.main{
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 24px 0;
}
.filterTab{
    width: 180px;
}
.filterOptions{
    display: flex;
    flex-direction: column;
}
.filterLabel{
    margin: 6px 0;
    cursor: pointer;
}
.filterOptions input{
    margin-right: 12px;
}
.filterOptions p{
    margin:15px 0 ;
}
.tableWrap{
    width:100%;
}
.tableContent{
    width: 100%;
    border-collapse: collapse;
}
.tableContent th,.tableContent td{
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
}
.tableContent td{
    background-color: #fff;
    border-bottom: 4px solid #f6f7fb;
}
.tdSecondry{
    color: #8c8c8c;
}
.tdPrimary{
    color: rgba(0,0,0,.8);
    font-weight: 500;
}